/* ==========================================================================
3 Col Review 2 Reviews Per Screen Different Background CSS
========================================================================== */

// dependencies = 

.review{
	padding:$large-spacing;
	width:50%;
	display:flex;
	flex-direction:column;
	@include breakpoint(mobile){
		padding:0;
		width:100%;
		margin-bottom:$medium-spacing;
	}
	.review-stars{
		margin-bottom:$medium-spacing;
		@include breakpoint(mobile){
			margin-bottom:$x-small-spacing;
		}
	}
	p{
		font-style:italic;
		margin-bottom:$medium-spacing;
	}
	.review-date{
		margin-top:auto;
	}
}


.review-stars{
	width:5*30px;
	height:30px;
	background-image:url('../img/icons/general/star-border-green.svg');
	background-repeat: repeat-x;
	background-size: 30px 20px;
	.stars-ctr{
		background-image:url('../img/icons/general/star-green.svg');
		background-repeat: repeat-x;
		display:block;
		height:100%;
		background-size: 30px 20px;
		text-indent:-9999999px;
	}
}

.review-summary{
	display:flex;
	align-items:center;
	width:30%;
	flex-shrink:0;
	@include breakpoint(tablet){
		width:100%;
		text-align:center;
	}
	h1{
		margin-bottom:$medium-spacing;
	}
	p{
		margin-bottom:$medium-spacing;
	}
	.review-stars{
		@include breakpoint(tablet){
			margin-left:auto;
			margin-right:auto;
		}
	}
}


.review-strip{
	@include section-spacing-top;
	@include alt-section-colors;
	display:flex;

	@include breakpoint(tablet){
		flex-direction:column;
	}

	.review-summary{
		@include section-spacing-bottom;
	}

	.review-list{
		@include section-spacing;
		@include secondary-section-colors;
		padding-left:$x-large-spacing;
		padding-right:$x-large-spacing;
		border-radius:$border-radius 0 0 0;
		width:70%;
		box-sizing:border-box;
		@include breakpoint(laptop){
			padding-left:$pad;
			padding-right:$pad;
		}
		@include breakpoint(tablet){
			width:100%;
		}
	}

	.review-ctr{
		display: flex;
		margin:$large-spacing*-1 0;
		@include breakpoint(mobile){
			margin:0;
			flex-direction:column;
		}
	}
}


// custom - anything site specific