/* ==========================================================================
Make List CSS
========================================================================== */
.manufacturer {
	@include section-spacing;
	padding-top:$medium-large-spacing;


	.manufacturer-intro{
		display:flex;
		justify-content: space-between;
		padding-bottom: $medium-large-spacing;
		
		@include breakpoint(tablet){
			align-items:center;
		}

		.manufacturer-logo{
			img{
				max-width:100%;
				width:auto;
				max-height:70px;
				height:auto;
			}
			@include breakpoint(mobile){
				max-width:80px;
				flex-shrink:0;
			}
		}
		h1{
			@include breakpoint(mobile){
				margin-bottom:0;
			}
		}
		p{
			@include breakpoint(tablet){
				display:none;
			}
		}
	}

	
	.range-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
  		grid-gap: 30px;

		@include breakpoint(laptop) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include breakpoint(tablet) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint(mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.range-box {
		// width: ;

		border: 1px solid #e4e4e4;
		border-radius: 4px;
		padding: 15px;

		.range-box-content{
			.range-box-content-ctr{
				h3{
					margin-bottom:$x-small-spacing;
				}
				p{
					font-size:$small-body-text;
				}
			}

			.range-box-extra {
				display: flex;
				flex-wrap: wrap;
				margin-top: auto;
				align-items: flex-end;
				justify-content: space-between;
				
				.range-box-price {
					span {
						font-size: 1.5rem;
					}
					
					 div {
						font-size: 2.9rem;
						font-weight: 800;
					}
				}

			}
		}
		.range-box-img {
			position: relative;
			min-height: 1px;
			margin-bottom: 20px;
		
			.range-box-tags{
				padding: 5px 0 0 10px;
				background: #fff;
				border-radius: 4px 0 0 0;
				position: absolute;
				right: 0;
				bottom: -18px;
				display: flex;
				margin: -2.5px;
				z-index: 9;
			}

			
		}
	}



}






